.galleryContainer {
  width: 35rem;
  height: 20rem;
  position: fixed;
  overflow: hidden;
  background: green;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallerySlider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.8s cubic-bezier(0.87, 0, 0.13, 1);
}
.galleryImages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  padding: 2rem;
}
.galleryImages img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.viewCursorBG,
.viewCursorTxt {
  background: green;
  color: black;
  font-size: 18px;
  width: 100px;
  height: 70px;
  text-decoration: none;
  font-family: "Pixel Sans Serif";
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.viewCursorTxt {
  background: transparent;
}
