#image_reveal {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.section3Content {
  list-style: none;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.sec3Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ffffff4d;
  color: white;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s linear;
}
.FlipTextChild {
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateX(0px);
  transition: all 0.4s linear;
  justify-content: center;
}
.sec3Wrapper:hover .FlipTextChild {
  transform: translateX(50px);
}
.sec3Wrapper:hover .FlipTextChild h2 {
  color: white;
}
.FlipTextChild h2 {
  font-weight: 100;
  color: #ffffff99;
  font-family: "Pixel Sans Serif";
  font-size: 20px;
  transition: all 0.4s linear;
}
.imgBgThreeParent {
  position: absolute;
  right: -4rem;
  top: -20rem;
}
img.bgImgThree {
  width: 40rem;
  transform: rotate(105deg);
}
@media (max-width: 1200px) {
  .section3Content {
    width: 100%;
  }
  #image_reveal {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section3Content {
    height: 60%;
  }

  .sec3Wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    height: 10rem;
  }
}
@media (max-width: 500px) {
  #image_reveal {
    padding: 3rem 1rem;
    align-items: flex-start;
    height: 935px;
  }
  .section3Content {
    padding: 0;
    gap: 0;
  }
  .sec3Wrapper {
    justify-content: space-evenly;
    height: 7rem;
  }
  .FlipTextChild {
    display: flex;
    flex-direction: column;
    height: 32px;
  }
  .FlipTextChild h2 {
    font-size: 6vw;
    font-family: "Quicksand";
    line-height: 6vw;
    font-weight: 100;
  }
  .FlipTextChild h2:last-child {
    font-size: 3.5vw !important;
  }
}
