.headingText {
  overflow: hidden;
  width: 90%;
  padding: 1rem;
  text-align: left;
}
.headingText h1 {
  font-family: "Pixel Sans Serif";
  font-size: 48px;
  font-weight: 100;
}

@media (max-width: 500px) {
  .headingText {
    padding: 0rem;
  }
  .headingText h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .headingText {
    width: 100%;
  }
}
