/* BlurryCursor.css */

.cursorCircle {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999999;
  transition: width 0.2s ease-out, height 0.2s ease-out, filter 0.2s ease-out;
}
