#section5 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec5Wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Pixel Sans Serif";
  font-size: 16px;
  color: #00ff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTextVariant1 {
  position: absolute;
  top: -3vh;
  left: 1vw;
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant2 {
  position: absolute;
  bottom: 0vh;
  left: 5vw;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant3 {
  position: absolute;
  top: 30vh;
  right: 0vw;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant4 {
  position: absolute;
  top: 60vh;
  right: 10vw;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant5 {
  position: absolute;
  top: 35vh;
  left: 15vw;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.forText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 1.2rem;
}
