#section5 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec5Wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Pixel Sans Serif";
  font-size: 20px;
  color: #1aff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTextVariant1 {
  position: absolute;
  top: -10vh;
  left: 2vw;
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant2 {
  position: absolute;
  bottom: -5vh;
  left: 5vw;
  width: 23rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant3 {
  position: absolute;
  top: 30vh;
  right: 10vw;
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant4 {
  position: absolute;
  bottom: -10vh;
  right: 2vw;
  width: 26rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant5 {
  position: absolute;
  top: 35vh;
  left: 10vw;
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant6 {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant7 {
  position: absolute;
  top: 10vh;
  left: 30vw;
  width: 26rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextVariant8 {
  position: absolute;
  bottom: 12vh;
  right: 25vw;
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.forText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 1.6rem;
}
