.variant1 {
  position: absolute;
  top: 40vh;
  left: 0vw;
}
.variant1 p {
  font-family: "Pixel Sans Serif";
  font-size: 20px;
  color: #0bff0b;
}
.forText1 {
  width: 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}
.forText1 p:nth-child(4) {
  margin-right: 10px;
}
.forText1 p:nth-child(15) {
  margin-right: 10px;
}
.forText1 p:nth-child(26) {
  margin-right: 10px;
}
.forText1 p:nth-child(37) {
  margin-right: 10px;
}
.forText1 p:nth-child(48) {
  margin-right: 10px;
}
